/* Styles for the header */
.Wrapper {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.headerContainer {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 0 auto;
}

.logo img {
  height: 30px;
}

.navLinks {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.navLinks a {
  text-decoration: none;
  color: #333;
}

.navLinks a:hover {
  color: orange;
}

.authButton button {
  padding: 10px 10px;
  border: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.authButton button:hover {
  background-color: #357ab8;
}

.authButton button:focus {
  border: none;
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .navLinks.active {
    display: flex;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .menuIcon svg {
    width: 30px;
    height: 30px;
  }

  .authButton {
    margin-left: 0;
  }

  .authButton button {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .menuIcon {
    display: none;
  }
}
